<!-- <div class="tag-modal-<%= office.id %> "> -->
  <p><i class="fas fa-tag" data-toggle="modal" data-target="#modal<%= office.id %>" data-backdrop="false"></i></p>
  <!-- ajout de data-backdrop pour enlever l'arriere plan gris à l'ouverture de la modal qui ne s'enleve pas quand on destroy le dernier discount en ajax -->
  <div class="modal fade" id="modal<%= office.id%>" tabindex="-1" role="dialog" aria-labelledby="modal<%= office.id %>Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal<%= office.id %>Label">Réductions</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="discount-list-<%= office.id %>">
            <% office.discounts.each do |discount| %>
              <li id="discount-<%= discount.id %>">
                <% if discount.end_date >= Date.today && !current_user.admin? %>
                  <%= rounded_number(discount.amount, 100) %> %
                    (du <%= discount.start_date.strftime("%e/%m/%Y") %> au <%= discount.end_date.strftime("%e/%m/%Y") %>)
                <% else %>
                  <%= rounded_number(discount.amount, 100) %> %
                  (du <%= discount.start_date.strftime("%e/%m/%Y") %> au <%= discount.end_date.strftime("%e/%m/%Y") %>)
                    <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, discount_path(discount),
                    method: :delete, remote: true, data: { confirm: "Are you sure" } %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

