<h2>Liste des bureaux "<%= @building.name %>"</h2>
<div class="offices-details">
  <div class="offices-list-cowork">
    <h3>Espace de coworking</h3>
    <ul>
      <% @offices.cowork.each do |office| %>
        <li><%=  office.name %>,
          <%= link_to "Delete", office_path(office), method: :delete, data: { confirm: "Are you sure" } %>
        </li>
      <% end %>
    </ul>
    <%= link_to "Ajouter un bureau", new_building_office_path(@building), class: "btn btn-secondary" %>
  </div>
  <div class="offices-list-alone">
    <h3>Bureaux privés</h3>
    <ul>
      <% @offices.alone.each do |office| %>
        <li><%=  office.name %>,
          <%= link_to "Delete", office_path(office), method: :delete, data: { confirm: "Are you sure" } %>
        </li>
      <% end %>
    </ul>
    <%= link_to "Ajouter un bureau", new_building_office_path(@building), class: "btn btn-secondary" %>
  </div>
</div>

