<div class="offices-title">
  <h2>Liste des bureaux "<%= @building.name %>"</h2>
  <div class="offices-title__links">
    <%= link_to "Ajouter un bureau", new_building_office_path(@building), class: "btn btn-secondary" %>
    <%= link_to "Back to dashboard", dashboard_path, class: 'btn btn-secondary' %>
  </div>
</div>
<div class="offices-details">
    <% @offices.each do |office| %>
      <div class="office-card">
        <h3><%= office.name.capitalize %>:</h3>
        <div class="office-card__text">
          <p><%= office.places_number %> place(s)</p>
          <p><%= rounded_number(office.price, 1) %><i class="fas fa-euro-sign"></i>/min</p>
        </div>
        <div class="office-card__links">
          <%= link_to '<i class="far fa-edit"></i>'.html_safe,  edit_office_path(office) %>
          <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, office_path(office),
              method: :delete, data: { confirm: "Are you sure" } %>
          <%= link_to 'Add <i class="fas fa-percentage"></i>'.html_safe, new_office_discount_path(office)%>
        </div>
        <% if !office.discounts.empty? %>
          <div class="discounts">
          <h3>Réductions</h3>
              <% office.discounts.each do |discount| %>
                <div class="discounts-detail">
                  <p><i class="fas fa-tag"></i> <%= rounded_number(discount.amount, 100) %> %
                    (du <%= discount.start_date.strftime("%e/%m/%Y") %> au <%= discount.end_date.strftime("%e/%m/%Y") %>)
                      <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, discount_path(discount),
                      method: :delete, data: { confirm: "Are you sure" } %>
                  </p>
                </div>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
</div>

