<div class="offices-title">
  <h2>Liste des bureaux "<%= @building.name %>"</h2>
  <% if current_user.admin? %>
    <div class="offices-title__links">
      <%= link_to "Ajouter un bureau", new_building_office_path(@building), class: "btn btn-secondary" %>
      <%= link_to "Back to dashboard", dashboard_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
<div class="offices-details">
  <% @offices.each do |office| %>
    <div class="office-card">
      <div class="office-card__title">
        <h3><%= office.name.capitalize %></h3>
          <% if !office.discounts.empty? %>
            <p><i class="fas fa-tag" data-toggle="modal" data-target="#modal<%= office.id %>"></i></p>
            <!-- Modal -->
            <div class="modal fade" id="modal<%= office.id%>" tabindex="-1" role="dialog" aria-labelledby="modal<%= office.id %>Label" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modal<%= office.id %>Label">Réductions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <% office.discounts.each do |discount| %>
                      <ul>
                        <% if discount.end_date >= Date.today && !current_user.admin? %>
                          <li>
                            <%= rounded_number(discount.amount, 100) %> %
                              (du <%= discount.start_date.strftime("%e/%m/%Y") %> au <%= discount.end_date.strftime("%e/%m/%Y") %>)
                          </li>
                        <% else %>
                          <li>
                            <%= rounded_number(discount.amount, 100) %> %
                            (du <%= discount.start_date.strftime("%e/%m/%Y") %> au <%= discount.end_date.strftime("%e/%m/%Y") %>)
                            <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, discount_path(discount),
                            method: :delete, remote: true, data: { confirm: "Are you sure" } %>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          <!-- end Modal -->
        <% end %>
      </div>
      <div class="office-card__text">
        <p><%= office.places_number %> place(s)</p>
        <% if current_user.admin? %>
          <p><%= rounded_number(office.price, 1) %><i class="fas fa-euro-sign"></i>/min</p>
        <% else %>
          <p><%= rounded_number(office.price, 60) %><i class="fas fa-euro-sign"></i>/h</p>
        <% end %>
      </div>
      <% if !current_user.admin? %>
        <%= link_to 'Réserver', office_path(office), class: 'btn btn-secondary' %>
      <% end %>
      <% if current_user.admin? %>
        <div class="office-card__links">
          <%= link_to '<i class="far fa-edit"></i>'.html_safe,  edit_office_path(office) %>
          <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, office_path(office),
              method: :delete, data: { confirm: "Are you sure" } %>
        </div>
        <div class="office-card__form">
          <h4>Ajouter une réduction</h4>
          <%= simple_form_for([office, @discount], remote: true) do |f| %>
            <%= f.input :amount, :label => "Montant" %>
            <%= f.input :start_date, as: :date %>
            <%= f.input :end_date, as: :date %>
            <%= f.submit "Valider", class: 'btn btn-secondary' %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

