<div class="office-title" data-office-price= "<%= @office.price %>">
  <h1><%= @office.name %> (<%= @building.name %>) </h1>
  <%= link_to 'Back', building_offices_path(@building), class: 'btn btn-secondary' %>
</div>
<p class="dates-array">
  <%# if @office.office_type == "privates" %>
    <%#= @office.bookings.reduce([]){ |memo, booking|
      memo << booking.dates_booked.map{|date| date.strftime("%Y-%m-%e")} }.flatten %>
  <%# else %>
    <%# result = [] %>
    <%# @office.bookings.reduce(result){ |result, booking| result << booking.dates_booked.map{|date| date.strftime("%Y-%m-%e")} } %>
    <%#= result.flatten.select{ |date| result.flatten.count(date) >= @office.places_number }.uniq %>
<%# end %>
  <% result = [] %>
  <% @office.bookings.map{ |booking| result << booking.dates_booked.map{ |date| date.strftime("%Y-%m-%e") } }  %>
  <% answer = result.flatten %>
  <%= answer.select{ |date| answer.count(date) >= @office.places_number }.uniq %>
</p>
<div class="office-discounts">
  <h2>Réductions</h2>
  <% if @discounts.empty? %>
     <p>Pas de réductions à venir</p>
  <% else %>
    <ul class="office-discounts__details">
      <% @discounts.each do |discount| %>
        <% if discount.end_date >= Date.today %>
          <li data-discount-amount="<%= discount.amount %>" data-discount-start="<%= discount.start_date %>" data-discount-end="<%= discount.end_date %>">
            <%= rounded_number(discount.amount, 100) %> %, du <%= discount.start_date.strftime("%e/%m/%Y") %> au <%= discount.end_date.strftime("%e/%m/%Y") %> </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="office-reservation">
  <h2>Votre réservation</h2>
  <h3> > Choisissez vos dates</h3>
  <%= simple_form_for([@office, @booking]) do |f| %>

    <div class="calendar">
    </div>
    <%= f.input :start_date, as: :hidden %>
    <%= f.input :end_date, as: :hidden %>

    <h3> > Sélectionnez vos services</h3>

      <div class="services-fields">
        <%= f.simple_fields_for :service_bookings do |service_booking| %>
          <%= render 'service_booking_fields', locals: { services: @services }, :f => service_booking %>
        <% end %>
        <div class='links'>
            <%= link_to_add_association 'Ajouter un autre service', f, :service_bookings, class: 'btn btn-secondary' %>
        </div>
    </div>
    <div class="summary">
      <h3> > Confirmez votre réservation <h3>
        <p><i class="far fa-calendar-alt"></i> <span class="debut"></span></p>
        <p><i class="fas fa-concierge-bell"></i> </p>
        <p><i class="far fa-money-bill-alt priceSummary" ></i> </p>
    </div>
    <%# f.hidden_field_tag :price, class: 'booking-price-validated' %>
    <%= f.submit 'Valider', class: 'btn btn-secondary' %>
  <% end %>

</div>
