<h1>Dashboard</h1>
<div class="dashboard-profile">
  <h2>Ton profil</h2>
  <div class="dashboard-profile__infos">
    <p>Identité : <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></p>
    <p>Email : <%= current_user.email %> </p>
    <div class="dashboard-profile__links">
      <%= link_to link_to '<i class="far fa-edit"></i>'.html_safe, edit_user_registration_path %>
    </div>
  </div>
</div>
<!-- vue admin -->
<% if current_user.admin? %>
  <div class="dashboard-title">
    <h2>Les immeubles</h2>
    <%= link_to "Ajouter un immeuble", new_building_path, class: 'btn btn-secondary' %>
  </div>
  <div class="dashboard-list">
    <% @buildings.each do |building| %>
      <div class="dashboard-building">
        <h3><%= building.name %></h3>
        <div class="dashboard-building__links">
          <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_building_path(building) %>
          <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, building_path(building), method: :delete, data: { confirm: "Are you sure?" } %>
          <%= link_to "Voir les bureaux", building_offices_path(building) %>
        </div>
        <div class="dashboard-building__stats">
          <h4>Statistiques</h4>
          <p>Nombre total de réservations :
            <%#= building.offices.total_bookings %>
            <%#= b.where(b[:id].eq(building.id)).joins(offices: :bookings).size %>
            <%= total_number_of_bookings = Building.where(id: building.id)
                                           .joins(offices: :bookings).size %>
          </p>
          <p>Réservations en bureau privé :
            <%#= building.offices.privates_bookings %>
            <%= Building.where(id: building.id).joins(offices: :bookings)
                        .where(offices: { office_type: 1 }).count %>
          </p>
          <p>Réservations en cowork :
            <%#= building.offices.coworks_bookings %>
            <%= Building.where(id: building.id).joins(offices: :bookings)
                        .where(offices: { office_type: 2 }).count %>
          </p>
            <%# seven_days = [] %>
            <%# total = [] %>
            <%# cafés = [] %>
            <%# thés = [] %>
            <%# impressions = [] %>
            <%# scans = [] %>
            <%# building.offices.each do |office| %>
              <%# seven_days << office.bookings.last_seven_days_bookings %>
              <%# total << office.bookings.total_number_of_services %>
              <%# cafés << office.bookings.service_count("café") %>
              <%# thés << office.bookings.service_count("thé")%>
              <%# impressions << office.bookings.service_count("impression")%>
              <%# scans << office.bookings.service_count("scan")%>
            <%# end %>
            <p>Réservations des 7 derniers jours :
              <%#= seven_days.sum %>
              <% seven_days_ago = (Time.now.end_of_day - 7.day)..Time.now.end_of_day %>
              <%= Building.where(id: building.id).joins(offices: :bookings)
                          .where(bookings: { created_at: seven_days_ago }).count %></p>
            <p>Durée moyenne d'une réservation :
              <%# average_duration = [] %>
              <%# building.offices.each do |office| %>
                <%# office.bookings.each do |booking| %>
                  <%# average_duration << booking.dates_booked.count %>
                <%# end %>
              <%# end %>
              <%# average = average_duration.sum / building.offices.total_bookings %>
              <%#= average > 1 ? average.to_s + ' jours' : average.to_s + ' jour' %>
              <% array = Building.where(id: building.id).joins(offices: :bookings).pluck(:start_date, :end_date) %>
              <% average = [] %>
              <% array.each do |sub_array| %>
                <% duration = (sub_array[0]..sub_array[1]).count %>
                <% average << duration %>
              <% end %>
              <% result = average.sum / total_number_of_bookings %>
              <%= result > 1 ? result.to_s + ' jours' : result.to_s + ' jour' %>
            </p>
            <p>Nombre total de clients différents :
              <%= Building.where(id: building.id).joins(offices: :bookings).distinct
                  .pluck(:user_id).count %>
            </p>
            <p>Total des services réservés :
              <%= Building.where(id: building.id).joins(offices: { service_bookings: :service })
                          .pluck(:quantity).sum %>
              </p>
            <ul>
              <li>cafés :
                <%= Building.where(id: building.id).joins(offices: { service_bookings: :service })
                            .where(services: { name: "café" }).pluck(:quantity).sum %>

              </li>
              <li>thés :
                <%= Building.where(id: building.id).joins(offices: { service_bookings: :service })
                            .where(services: { name: "thé" }).pluck(:quantity).sum %>
              </li>
              <li>impressions :
                <%= Building.where(id: building.id).joins(offices: { service_bookings: :service })
                            .where(services: { name: "impression" }).pluck(:quantity).sum %>
              </li>
              <li>scans :
                <%= Building.where(id: building.id).joins(offices: { service_bookings: :service })
                            .where(services: { name: "scan" }).pluck(:quantity).sum %>
              </li>
            </ul>
        </div>
      </div>
    <% end %>
  </div>
  <!-- vue user -->
<% else %>
  <h2>Tes réservations</h2>
  <div class="reservations">
    <% @bookings.each do |booking| %>
    <div class="reservations-card">
      <ul>
        <li> > <%= booking.office.name.capitalize %>, <%= booking.office.building.name %> </li>
        <li>du <%= booking.start_date.strftime("%e/%m/%Y") %> au <%= booking.end_date.strftime("%e/%m/%Y") %> </li>
        <li class="user_booking_price">prix : €
         </li>
      </ul>
    </div>
    <% end %>
  </div>
<% end %>
