<section>
  <div class="intro">
    <div class="intro__esprit">
      <h2><%= t '.intro-title' %></h2>
      <p class="text"><%= t '.intro-text' %>
      </p>
    </div>
    <div class="intro__services">
      <h2><%= t '.services-title' %></h2>
      <div class="text">
        <p><%= t '.services-text_html' %>
          <%= t '.services-list_html' %>
        </p>
      </div>
    </div>
  </div>

  <div class="buildings">
    <h2><%= t '.buildings-title' %></h2>
    <div class="building-search">
      <h3 id="search-action"><%= t '.buildings-search-title' %></h3>
      <%= form_with(url: '/#search-action', method: 'get', local: true) do %> <!-- ancre ds l'url -->
        <%= text_field_tag 'address_search', nil, placeholder: 'Paris' %>
        <%= submit_tag t '.buildings-search-search' %>
      <% end %>
  </div>
    <div class="building-cards">
      <% @buildings.each do |building| %>
        <div class="building-card">
          <%= link_to building_path(building) do %>
            <div class="building-card__image">
              <% if building.photos.attached? %>
                <%= cl_image_tag building.photos.first.key, width: 250, height: 300, crop: :fill %>
              <% else %>
                <img src="https://res.cloudinary.com/du5qhnalh/image/upload/v1616058436/harry-shelton-pPxhM0CRzl4-unsplash-2_omkmo7.jpg" alt="buliding">
              <% end %>
            </div>
            <div class="building-card__text">
              <h3><%= t('pages.home.building-card-name', name: building.name) %></h3>
              <p><%= t('pages.home.building-card-address', address: building.address) %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
