<div class="building-show">
  <div class="building-show__images">
    <%= cl_image_tag @building.photos.first.key, crop: :fill, class: "big-building-img" %>
    <div class="little-photos">
      <% @building.photos.last(2).each do |photo| %>
        <%= cl_image_tag photo.key, crop: :fill, class: "little-building-img"  %>
      <% end %>
    </div>
  </div>
  <div class="building-show__text">
    <div class="building-show__text infos">
      <h2><%= @building.name %></h2>
      <p><span class="address"><%= @building.address %></span></p>
      <p><%= t('buildings.show.building-description', description: @building.description) %></p>
      <p><%= @offices.privates.count %> bureaux privés</p>
      <p><%= @offices.coworks.first.places_number %> places en cowork</p>
    </div>
    <div class="building-show__text prices">
      <h2>Tarifs</h2>
      <ul>
        <li>Bureau privé :
          <span class="office-price">
            <%= rounded_number(@offices.limit(1).privates.first.price, 60) %>
            <i class="fas fa-euro-sign"></i>/h
          </span>
        </li>
        <li>En espace coworking :
          <span class="office-price">
            <%= rounded_number(@offices.limit(1).coworks.first.price, 60) %>
            <i class="fas fa-euro-sign"></i>/h
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
<%= link_to 'Réserver un bureau', building_offices_path(@building), class: 'btn btn-secondary reservation' %>


